name: version
on:
  schedule:
    # run daily: https://crontab.cronhub.io/
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Configure Git
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Check version
        run: bash scripts/version.sh
        env:
          GH_TOKEN: ${{ github.token }}
